
.DS_Store
secer_requirements.txt
more_files/*
*.beam
Tama_typer/*
results/*
tmp/*
cuter/ebin/*
cuter/Makefile
cuter/config.status
cuter/config.log
cuter/autom4te.cache/requests

test_*.beam
test_*.erl

*.dump

examples-edd/*
output_commands
output
last
examples_default/*
