
.DS_Store
secer_requirements.txt
more_files/*
ebin/*.beam
Tama_typer/typer_mod.erl
Tama_typer/typer.beam
results/*
tmp/*
cuter/ebin/*
cuter/Makefile
cuter/config.status
cuter/config.log
cuter/autom4te.cache/requests
