
.DS_Store
proper
secer_requirements.txt
more_files/*
*.beam
Tama_typer/*
results/*
tmp/*
cuter/ebin/*
cuter/Makefile
cuter/config.status
cuter/config.log
cuter/autom4te.cache/requests

happy*
proper_secer/*
test_*
test_*
test/*
tmp_24_5_2018/*
*.dump

examples-edd/*
examples_*
outpu*
last
examples_default/*
examples-edd*
repea*
string*

test_happy.erl
config/*
error.log
tests/*
happy_new.erl
latex*
README*